:root {
  // Color
  --c-theme: #727cf5;
  --c-text: #6b7280;
  --c-text-secondary: #98a6ad;

  // font-size
  --font-base: 15px;

  // size
  --header-height: 64px;
  --sidebar-width: 260px;

  // others
  --border-radius-base: 4px;
}
