nav {
  text-align: center;
  padding: 30px;
  user-select: none;

  a {
    display: inline-block;
    padding: 0 1rem;
    border-left: 1px solid #dadada;
    color: var(--c-text);

    &:first-of-type {
      border: 0;
    }
  }
}