.nav {
  text-align: center;
  padding: 30px;
  user-select: none;

  a {
    display: inline-block;
    padding: 0 1rem;
    border-left: 1px solid var(--c-border);
    color: var(--c-text);

    &:first-of-type {
      border: 0;
    }

    &.route-active {
      color: var(--c-theme);
    }
  }
}

.btn-information {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 18px;
  z-index: 999;
}

.info-list {
  list-style-type: disc;
  padding-left: 15px;

  ::ng-deep {
    strong {
      color: var(--c-theme);
    }
  }
}