.nav {
  text-align: center;
  padding: 30px;
  user-select: none;

  a {
    display: inline-block;
    padding: 0 1rem;
    border-left: 1px solid #dadada;
    color: var(--c-text);

    &:first-of-type {
      border: 0;
    }

    &.route-active {
      color: var(--c-theme);
    }
  }
}

.btn-information {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  z-index: 999;
  box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 20%);
}

.info-list {
  list-style-type: disc;
  padding-left: 15px;

  ::ng-deep {
    strong {
      color: var(--c-theme);
    }
  }
}