<nav class="nav">
  <a
    *ngFor="let _ of availableDays; let i = index"
    [routerLink]="'/day-' + (i + 1)"
    routerLinkActive="route-active"
  >Day {{ i + 1 }}</a>
</nav>

<button
  class="btn-information"
  nz-button
  (click)="showDrawer()"
>?</button>

<nz-drawer
  [nzVisible]="isDrawerVisible"
  [nzClosable]="false"
  nzPlacement="right"
  nzTitle="Information"
  (nzOnClose)="closeDrawer()"
>
  <ng-container *nzDrawerContent>
    <ul class="info-list">
      <li *ngFor="let text of dayInfo">
        <span [innerHTML]="text"></span>
      </li>
    </ul>
    <hr class="my-4">
    <ul class="info-list">
      <li *ngFor="let text of appInfo">
        <span [innerHTML]="text"></span>
      </li>
    </ul>
  </ng-container>
</nz-drawer>

<router-outlet></router-outlet>
