.item {
  display: grid;
  grid-template-columns: 64px auto;
  gap: 10px;

  &__img {
    height: auto;
  }

  &_btnAdjust {
    background-color: var(--color-theme);
    border-color: var(--color-theme);
  }

  &__name {
    font-size: 18px;
    line-height: 20px;
  }

  &__price {
    font-size: 16px;
    font-weight: bold;
  }

  &__totalPrice {
    font-size: 28px;
    font-weight: bold;
  }
}